body{
    font-family: 'Inter', sans-serif;
}

.dark{
    background-color: hsl(230, 17%, 14%);
}


.top-layer{
    background-color: hsl(232, 19%, 15%);
    width: 100%;
    height: 30%;
    position: absolute;
    z-index: -1;
}



.container-fluid{
    padding: 2rem 7rem 3rem;
}

.switch{
    display: inline-block;
    position: absolute;
    right: 8%;
    top: 3rem;
    color: white;
}



.title{
    display: inline-block;
}

.headers{
    font-weight: 700;
    font-size: 30px;
    color: white;
}

.total-followers{
    color: hsl(228, 34%, 66%);
    font-weight: 700;
}

.head-boxes{
    text-align: center;
    padding: 1.5rem 1.5rem;
    margin: 1rem;
    width: 18.5rem;
    background-color: hsl(228, 28%, 20%);
    border-top: 4px solid hsl(208, 92%, 53%);
    border-radius: 5px;
}


.mention{
    font-size: 14px;
    color: hsl(228, 34%, 66%);
}

.number{
    font-size: 3rem;
    color: white;
    font-weight: 700;
}

.followers{
    color: hsl(228, 34%, 66%);
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: .9rem;
}

.time{
    font-size: .7rem;
    font-weight: 700;
    color: hsl(163, 72%, 41%);
}

.red-time{
    color: hsl(356, 69%, 56%);
}

.icons{
    padding-right: .5rem;
}


.bottom-boxes{
    padding: 1.5rem 1.5rem 0;
    background-color: hsl(228, 28%, 20%);
    border-radius: 5px;
    margin: 1rem;
    width: 18.5rem;
    height: 9rem;
}

#second-h{
    margin-top: 1.5rem;
}

.top-left{
    color: hsl(228, 34%, 66%);
    width: 7rem;
    margin-bottom: 1.8rem;
    /* position: relative;
    top: .45rem; */
}
.bottom-left{
    color: white;
    font-weight: 700;
    width: 7rem;
    margin-bottom: 0rem;
    /* position: relative;
    top: 1rem; */
}

.top-right{
    position: relative;
    margin-top: .1rem;
    /* left: 13.5rem;
    bottom: 5rem; */
}

.bottom-right{
    color: hsl(163, 72%, 41%);
    font-weight: 700;
    font-size: .7rem;
    margin-top: 2.5rem;
    /* position: relative;
    left: 12rem;
    bottom: 3rem; */
}

.left-side{
    text-align: left;
    width: 7rem;
    margin: 0;
    margin-right: 4rem;
    margin-left: .3rem;
    display: inline-block;
    vertical-align: text-top;
}

.right-side{
    text-align: right;
    display: inline-block;
    vertical-align: text-top;
}

/* Light Mode */

.light{
    background-color: hsl(0, 0%, 100%);
}

.card-light{
    background-color: hsl(227, 47%, 96%);
}

.top-bg-light{
    background-color: hsl(225, 100%, 98%);
}

@media (max-width: 1518px) {
    .switch{
        display: inline-block;
        position: absolute;
        left: 59rem;
        top: 3rem;
        color: white;
    }
}

@media (max-width: 1190px) {
    .switch{
        display: inline-block;
        position: absolute;
        left: 38rem;
        top: 3rem;
        color: white;
    }
}

@media (max-width: 860px) {
    .switch{
        display: block;
        position: static;
        top: 10rem;
        text-align: left;
        color: white;
        padding: 0;
        width: 18.5rem;
        margin-bottom: 2rem;
    }
    #flexSwitchCheckChecked{
        float: right;
    }
    .container-fluid{
        padding: 2rem 2rem 3rem;
    }
    .title{
        display: block;
        margin-bottom: 2rem;
    }
    .headers{
        font-size: 20px;
    }
    .total-followers{
        font-size: 12px;
    }
    .breaker{
        border-top: 1px solid hsla(228, 34%, 66%, 30%);
        margin: 1rem 0;
        width: 18.5rem;
    }
    .head-boxes{
        margin: 1rem;
    }
    .attribution {
        width: 18.5rem;
    }
}



.attribution {
    font-size: 11px;
    text-align: center;
    padding: 0rem 7rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

